.searchPage .left {
  float: left;
  margin-right: 20px;
}
.searchPage #top_search_field {
  background-color: #e8edff;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 38px;
}
.searchPage #search #search_box_top_input,
.searchPage #search #search_box_bottom_input {
  margin-right: 10px;
  padding: 5px;
  width: 68%;
  font-size: 14px;
  text-shadow: 1px 1px #DDD;
}
.searchPage #search #search_box_top_submit,
.searchPage #search #search_box_bottom_submit {
  min-width: 58px;
  width: 23%;
  font-size: 12px;
  border: 1px solid #222;
  padding: 5px;
  background-color: #326ba9;
  color: white;
}
.searchPage #search #search_box_top_submit:hover,
.searchPage #search #search_box_bottom_submit:hover {
  background-color: #3a7cc4;
}
.searchPage #advanced_search_box {
  margin-top: 15px;
}
.searchPage #result_bar {
  text-align: left;
}
.searchPage #result_bar font {
  font-style: italic;
  color: #999;
  font-size: 10px;
}
.searchPage #sidebar-container {
  width: 25%;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #326BA9;
  -ms-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  margin-left: 5%;
  margin-top: -13px;
}
.searchPage #sidebar-container p {
  font-size: 11px;
  display: block;
  text-transform: uppercase;
  color: white;
  line-height: 16px;
  padding: 11px 13px 11px;
  margin: 0;
  letter-spacing: .1em;
}
.searchPage #gray-style {
  background-color: #888;
  height: 16px;
  padding: 3px 0 0 0;
}
.searchPage #gray-menu {
  background-color: #EEE;
}
.searchPage .search {
  margin-bottom: 15px;
  padding: 0px 10px 10px 13px;
}
.searchPage #gray-menu .sidebar-title img {
  vertical-align: middle;
  margin-right: .5em;
  width: 18px;
  height: 18px;
}
.searchPage #gray-menu .sidebar-title span {
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
}
.searchPage #gray-menu form {
  margin-top: 5px;
}
.searchPage #gray-menu hr {
  background: white;
  color: white;
}
.searchPage .header_search_box {
  width: 125px;
}
.searchPage #keymatch_info font {
  padding: 5px 20px 20px 20px;
}
.searchPage .keymatch_word {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.1;
  color: #056cb6;
}
.searchPage #keymatch_info {
  margin-bottom: 20px;
}
.searchPage .keymatch_div {
  clear: both;
}

.searchPage #sidebar-container #recommended_links {
  padding: 0 10px 10px 13px;
}

.searchPage #sidebar-container #askbyui {
  padding: 0 10px 10px 13px;
}

.searchPage #sidebar-container #recommended_links {
  padding: 0 10px 10px 13px;
}

.searchPage table#keymatch_info td {
  padding-left: 0;
}

.searchPage .g {
  overflow-wrap: break-word;
  padding-bottom:20px;
}

.searchPage .a {
  font-size: 15px;
}

.searchPage h2 {
  margin-bottom:0px;
  font-size: 25px;
  color:#000000;
}

.searchPage h2 a {
  color:#000000;
}

.searchPage table#keymatch_info td a {
  font-family: Helvetica, Arial, sans-serif;
  font-size:30px;
  color:#056cb6;

}

.searchPage a.keymatch_word {
  font-weight:bold;
}

.searchPage table {
  border: 1px dashed #C5C5C5;
}

form.desktop-search .search .form-control.ui-autocomplete-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.searchPage .keymatch_div h2 a+strong {
  font-size: 11px;
  color: #a9a9a9;
  font-weight: normal;
}
@media only screen and (max-width: 769px) {
  .searchPage .number {display:none;}  
  .searchPage #search #search_box_top_input, .searchPage #search #search_box_bottom_input {
    margin-right: 0;
  }
}
