<!-- Application Wrapper, gives Angular scope to this part of the DOM -->
            <div class="application-wrapper" ng-app="serviceMap" ng-controller="ServicesSearch">

                <!-- Basic Search Header -->
                <div class="row">
                    <div class="col-all-12, col-xs-8">
                        <div class="search-input-container">
                            <form role="form">
                                <div class="input-group">
                                    <label for="" class="sr-only" for="servicesQuery">Search for Services:</label>
                                    <input type="text" class="form-control" id="servicesQuery" placeholder="Search for Services" ng-model="query">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button">Go!</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-all-12, col-xs-4">
                        <div class="search-input-container">
                            <select ng-model="serviceOrder" name="" id="" class="form-control">
                                <option value="" selected="selected">Sorting Options</option>
                                <option value="serviceName">Sort by: Name</option>
                                <option value="office">Sort by: Department</option>
                            </select>
                        </div>
                    </div>

                </div>
                <!-- End Row -->

                <hr>

                <!-- Main Content Area -->
                <div class="row">

                    <!-- Search Filter Sidebar -->
                    <aside class="col-all-12 col-sm-4 pull-left">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-target=".search-collapse">
                                Filters
                                <span class="visible-xs icon-triangle-down pull-right"></span>
                            </div>
                            <div class="panel-body row collapse search-collapse">

                                <!-- Preferred Filter Design -->
                                <div class="search-filter col-all-12 col-lg-12 col-md-12 col-sm-12 col-xs-6">
                
                                    <a class="search-filter-type services-filter-type" data-toggle="collapse" href="#department-tags" 
                                         aria-expanded="false">Department <span class="caret"></span></a>
                                    <div id="department-tags" class = "collapse">
                                      <div class="checkbox" ng-repeat="(department, selected) in departments">
                                        <label for="service-{{$index}}">
                                            <input id="service-{{$index}}" type="checkbox" ng-model="departments[department]" 
                                                   ng-click="changePage(1)">{{department}}
                                        </label>
                                      </div>
                                    </div>
                                 
                                </div>
                              
                                <!-- Audience filter -->
                                <div class="search-filter col-all-12 col-lg-12 col-md-12 col-sm-12 col-xs-6">
    
                                    <a class="search-filter-type services-filter-type" data-toggle="collapse" href="#audience-tags"
                                         aria-expanded="false">Audience <span class="caret"></span></a>
                                    <div id="audience-tags" class = "collapse">
                                      <div class="checkbox" ng-repeat="(audience, selected) in audiences">
                                        <label for="audience-{{$index}}">
                                            <input id="audience-{{$index}}" type="checkbox" ng-model="audiences[audience]" 
                                                   ng-click="changePage(1)">{{audience}}
                                        </label>
                                      </div>
                                    </div>
                                 </div>
                           

                            </div>
                            <!-- End Panel Body -->
                        </div>
                    </aside>
                    <!-- End Column -->
                    <!-- Main Content Area -->
                    <section class="col-all-12 col-sm-8 pull-right">
                        <div class="clearfix">
                            <!-- Result Filter Buttons -->
                            <!-- Saving this here as a design placeholder, they can be used as a method to track/remove filters being applied. I haven't figured out how to conditionally display them. -->
                            <div class="search-results-filters">
                                <div class="alert alert-success" role="alert" ng-repeat="(department,selected) in departments | isSelected">
                                    <button type="button" class="close" data-dismiss="alert" ng-click="departments[department] = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    {{department}}
                                </div>
                                <div class="alert alert-success" role="alert" ng-repeat="(audience,selected) in audiences | isSelected">
                                    <button type="button" class="close" data-dismiss="alert" ng-click="audiences[audience] = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    {{audience}}
                                </div>
                            </div>
                        </div>

                        <!-- Iterate Results -->
                        <div class="media">
                            <div class="media-body search-result" ng-repeat="service in services | filter: query | filterTags: departments:audiences | orderBy: serviceOrder:direction | startFrom:(currentPage - 1) * servicesPerPage | limitTo:servicesPerPage">
                                <h4 class="media-heading result-heading"><a href="{{service.webAddressUrl}}">{{service.titleForService}}</a></h4>
                                <p class="result-abstract">{{service.other}}</p>
                                <p class="result-sponsor">Sponsor: <a href="#">{{service.owner}}</a>
                                </p>
                                    <div class="row">
                                    <div class="col-all-12 result-contact">
                                        <div class="" ng-if="service.building">
                                            <span class="icon-office"></span>  <a href="#">{{service.building}} Room {{service.room}}</a>
                                        </div>
                                        <div class="" ng-if="service.primaryPhoneNumber">
                                            <span class="icon-phone"></span><a href="tel:{{service.primaryPhoneNumber}}">{{service.primaryPhoneNumber}}</a>
                                        </div>
                                        <div class="" ng-if="service.email">
                                            <span class="icon-mail"></span><a href="mailto:{{service.email}}">{{service.email}}</a>
                                        </div>
                                        <div class="" ng-if="service.livechat">
                                            <span class="icon-chat"></span><a href="service.livechat">Live Chat</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <!-- Also here as a placeholder, I don't actually have an idea of how to apply pagination yet in this prototype, though from an interaction perspective I believe it would be best to show about 5 results at a time. -->
                        <div class="results-pagination pull-right">
                            <ul class="pagination">
                                <li ng-class="{ 'disabled': currentPage == 1 }" ng-click="changePage(currentPage - 1)">
                                    <a href="#">&laquo;</a>
                                </li>
                                <li ng-class="{ 'active': currentPage == $index + 1 }" ng-repeat="i in range(numPages()) track by $index" ng-click="changePage($index + 1)">
                                    <a href="#">{{ $index + 1 }}</a>
                                </li>
                                <li ng-class="{ 'disabled': currentPage == numPages() }" ng-click="changePage(currentPage + 1)">
                                    <a href="#">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!-- End Column -->
                </div>
                <!-- End Row -->

            </div>
            <!-- End Application Wrapper --><script src='prebuilt/stylenew/js/libs/angular.min.js'></script><script src='documents/service-map/service-map.min.js'></script><link rel='stylesheet' href='documents/service-map/services.min.css' />